extends layout

block content
  .container
    h1 FreeCodeCampe Timestamp Api 
    h3 Usage 
  
    pre
      h4 Endpoint: https://fcc-time.heroku.com/*
      p https://fcc-time.heroku.com/January%201,%202016 - date
      p https://fcc-time.heroku.com/1451606400 - unix
    div 
      h4 Response
      pre {"unix":1451606400,"normal":"January 1, 2016"}
    